/* Global styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: Varela Round Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#checkk {
    background: none;
    color: black;
}

body {
    background-color: #85FFBD;
    background: #1D4350;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    ;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(115, 247, 75);
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}

/* header */
header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(225,225,225,.2);
}

.nav-brand {
    width: 10rem;
}

#logo {
    border-radius: 5%;
}

.menu-icons i {
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}

.close i {
    color: rgb(255, 4, 54);
}

.nav-list {
    width: 20rem;
    height: 100vh;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: #7a7878a9;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}

.nav-list.active{
    right: 0;
}

.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item {
    margin: 1.5rem 0;
}

.nav-link {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0,0, 0, 7);   
}

/* hero */
.hero {
    width: 100%;
    height: 50vh;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%), url('../img/3.jpg') center no-repeat fixed;
    background-size: cover;
    position: relative;

}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4.7rem;
    background: url("img/wave-small.png") center no-repeat;
    background-size: cover;
}
.main-message {
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%);
}
.main-message h3 {
    font-size: 1.6rem;
}

.main-message h1 {
    font-family: "Aldrich", sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
}

.main-message p {
    text-transform: lowercase;
}

.btn {
    background-color: #10bd1f;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    font-family: round;
    transition: background-color 650ms;
    font-weight: bolder;
}


.btn:hover {
    background-color: #cfc643;
}

.experience-outdoors {
    padding: 0;
}

.title-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10rem;
    color: rgba(0, 0, 0, 0.7);
}

.title-heading h3 {
    font-size: 1.4rem;
}

.title-heading h1 {
    font-family: 'Adrinch', sans-serif;
    font-size: 2.7rem;
    margin: 5rem 0 1rem;
}

#nu {
    color: yellowgreen;
    font-weight: bolder;
}

.title-heading p {
    text-transform: lowercase;
}

.activities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}

.experience-outdoors{
    background-image: url(../img/menu2.png);
}

#ord{
    background-color: yellowgreen;
}

#order {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%),url(../img/menu2.png);
    background-size: cover;
}

.activities-grid-item {
    height: 40rem;
    padding: 5rem;
    /* color: #fafafa; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.activities-grid-item::before {
    content: "";
    border-radius: 5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
    z-index: -1;
}

.star-gazing {
    border-radius: 5%;
    background: url("../img/4.jpg") center no-repeat;
    background-size: cover;
}

.hiking {
    border-radius: 5%;
    background: url("../img/2.jpg") center no-repeat;
    background-size: cover;
}

#menu-item {
    font-size: 1.8rem;
}

.camping {
    background: url("../img/2.jpg") center no-repeat;
    width: 100%;
}

.activities-grid-item {
    font-size: 4rem;
    color: #fafafa;
}

.activities-grid-item h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 2rem 0;
}



.contacts {
    background-image: url("../img/4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

.contact-overlay {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.7);
}

input[type="email"] {
    background: transparent;
    border: 1px solid #ffffff;
    padding: .8em .7em;
    border-radius: 20px;
    outline: none !important;
    font-size: 14px;
}

.click-me {
    margin-top: 20px;
    margin-bottom: 20px;
}

.get-pizza {
    margin-top: 40px;
    width: 100%;
    height: 50vh;
}

#list {
    color: cornsilk;
}

.contact {
    padding-top: 20px;
}
/* testimonials */
.testimonials{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%), url(../img/1.jpg) center no-repeat fixed;
    background-size: cover;
    position: relative;
}

.testimonials::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url("img/wave-small-reversed.png") center no-repeat;
    background-size: cover;
}

.testimonial {
    width: 100%;
    color: #fafafa;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.testimonial-text-box {
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.testimonial-text-box i {
    position: absolute;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    color: #eb648c;
    opacity: .5;
    z-index:-1;
}

.testimonial-customer img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 3px solid #eb648c;
}

/* begin adventures */
.adventure-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    margin-bottom: 2rem;
}

#mpesa{
    border: 1px solid black ;
    border-radius: 3%;
    margin-left: 10px;
    margin-right: 10px;
    width: 60%;
}

.cc-img {
    margin: 0 auto;
}

#credit{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.info {
    width: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%), url(img/tiatihills.jpg) center no-repeat fixed;
    background-size: cover;
    position: relative;
    color: lightgray;
}

#info {
    width: 100%;
    height: 25vh;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url(img/tiatihills.jpg) center no-repeat fixed;
    background-size: cover;
    position: relative;
}

#map {
    width: 100%;
    height: 40vh;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%), url('img/map.gif') center no-repeat ;
    background-size: cover;
    position: relative;
}

.fab {
    margin: 60px 15px 0 15px;
}

.pay {
    text-align: center;
    width: 100%;
    display: none;
}

.reset {
    display: none;
}

footer {
    padding: 2rem 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    width: 100%;
}

/* media querries */
@media screen and (min-width: 350px){
    .main-message{
        transform: translateY(40%);
    }
}

@media screen and (min-width: 470px){
    .hero::before{
        height: 9.4rem;
        background: url("img/wave-medium.png");
        background-size: cover;
    }
    .testimonials::before{
        height: 9.4rem;
        background: url("img/wave-medium-reversed.png");
        background-size: cover;
    }
}

@media screen and (min-width: 700px){
    header {
        height: 8rem;
    }

    .nav-brand {
        width: 12.5rem;
    }

    .nav-list {
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial; 
        right: initial;  
        flex-direction: row;
        transition: initial;
    }

    .menu-icons {
        display: none;
    }

    .nav-item {
        margin: 0 2.5rem;
    }

    .nav-link,
    .current{
        color: #fafafa;
        position: relative;
        font-size: 1.3rem;
    }

    .nav-link::before,
    .current::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: #eb648c;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: 650ms;
    }

    .current::before {
        transform: scaleX(1);
    }

    .nav-link:hover::before{
        transform: scaleX(1);
    }

    .hero{
        height: 80vh;
        width: 100%;
    }

    .testimonials {
        height: 100vh;
        width: 100%;
    }

    .main-message {
        transform: translateY(50%, 50%);
    }

    .title-heading {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 950px){
    .hero::before{
        height: 15rem;
        background: url("img/wave-large.png");
        background-size: cover;
    }
    .testimonials::before{
        height: 15rem;
        background: url("img/wave-large-reversed.png") ;
        background-size: cover;
    }
    .testimonials {
        height: 100vh;
        width: 100%;
    }
}

@media screen and (min-width: 1200px){
    .hero{
        height: 70vh;
    }
    .testimonials {
        height: 100vh;
        width: 100%;
    }
}
 
